/* src/App.css */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

body {
  margin: 0;
  background-color: #000;
  color: white;
  font-family: "Inter", sans-serif;
}
